<div class="my_container">
  <div class=introduce_area>
    <div class="balloon">
      <div class="catch_copy"> これ、<br>おすすめ<br>です。</div>
    </div>
    <%= image_tag('mascot.png', alt:'マスコットキャラクター', class: "mascot") %>
    <p class="introduce">SALES TALKは、自分を好きなモノを皆に紹介するSNSです。</p>
    <p class="introduce">本や映画、音楽など何でもありです。</p>
    <p class="introduce">思う存分に売り込んで、好きなモノを広めましょう！</p>
    <p class="introduce">↓↓↓</p>
  </div>
</div>