<% provide(:title, "記事編集") %>

<div class="link_to_back"><%= link_to "一覧へ戻る", session[:forwarding_url] || root_url %></div>

<div class="section-title">記事の編集</div> 
<%= render partial: 'article_form' %>

<div class="link_to_back"><%= link_to "一覧へ戻る", session[:forwarding_url] || root_url %></div>