<div class="score">
  <div class="score_section">
    <div class="score_title">営業件数(記事数)</div> 
    <div class="total"><span><%= @user_articles.size %></span>件</div>
  </div>

  <div class="score_section">
    <div class="score_title">獲得いいね数</div> 
    <div class="total"><span><%= total_likes(@user_articles) %></span>件</div>
  </div>

  <div class="score_section">
    <div class="score_title">フォロー</div> 
    <div class="total"><span><%= link_to "#{@user.following.count}", following_user_path(@user) %></span>人</div>
  </div>

  <div class="score_section">
    <div class="score_title">フォロワー</div> 
    <div class="total"><span><%= link_to "#{@user.followers.count}", followers_user_path(@user) %></span>人</div>
  </div>
</div>