body{
  margin:0 auto;
}

/* mixins, variables, etc. */

$main-font1: 'Kosugi', sans-serif;

h1{
  font-family: $main-font1;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

.page-header{
  background-color: rgb(255, 164, 60);
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo{
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .main-nav{
    display: flex;
    padding-inline-start: unset;
    margin-right: 0.5rem;
    li{
      list-style: none;
      border-style: solid;
      border-color: white;
      padding: 0.2rem;
      margin: 0.2rem;
      border-radius:1.0rem;
      .nav-item{
        font-family: $main-font1;
        font-size: 0.9rem;
        color: white;
        text-decoration: none;
        margin: 0.5rem;
      }
    }
  } 
}


@media (max-width: 600px){
  .page-header{
    flex-direction: column;
    align-items: center;
    .logo{
      margin-bottom: unset;
      padding-bottom: unset;
    }
    .main-nav{
      margin: 0rem 0rem 0.3rem 0rem;
      li{
        .nav-item{
        font-size: 0.9rem;
        margin: 0.3rem;
        }
      }
    }   
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}