body{
  margin:0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* 共通・汎用 */

$main-font1: 'Kosugi', sans-serif;
$main-font2: 'Noto Sans JP', ;
$main-color1: rgb(255, 164, 60);
$main-color2: white;
$main-color3: rgba(255, 164, 60, 0.945);

@mixin heading{
  font-family: $main-font2;
  text-align: center;
  margin: 1.5rem 0;
  padding: 0.5rem;
}

@mixin article_form{
  display: inline-block;
  border-style: solid ;
  border-color: $main-color3;
  border-radius: 0.3rem;
  border-width: 0.15rem;
  padding: 0.5rem;
  margin-bottom: 2.0rem;
  width: 100%;
}

h1{
  @include heading;
}

h2{
  @include heading;
}

h3{
  @include heading;
}

h4{
  @include heading;
}

.btn{
  display       : inline-block;
  border-radius : 0.8rem;
  font-family   : $main-font2;          
  font-size     : 1.2rem;        
  text-align    : center;     
  cursor        : pointer;     
  padding       : 9px 13px;   
  background    : $main-color3;  
  color         : $main-color2;
  line-height   : 1rem;
  transition    : .3s;
  box-shadow    : 2px 2px #666666;
  border        : 2px solid $main-color3;
  &:hover{
    box-shadow    : none;
    color         : $main-color3;
    background    : $main-color2;
  }
}

.error{
  color: rgba(255, 0, 0, 0.623);
  border-bottom: solid;
  width: 95%;
  margin: 1rem auto;
  list-style: none;
  text-align: center;
  max-width: 450px;
}

.notification{
  margin-top: 2.0rem;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 47, 255);
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

.page-header{
  background-color: $main-color1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo{
    height: 3.5rem;
    width: 16rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    transition: filter 0.2s;
    &:hover {
      filter: drop-shadow(3px 3px 3px rgba(104, 102, 102, 0.6));
    }
  }
  .main-nav{
    display: flex;
    padding-inline-start: unset;
    margin-top: 1.2rem;
    margin-right: 1.0rem;
    height: fit-content;
    li{
      list-style: none;
      border-style: solid;
      border-width: 0.2rem;
      border-color: $main-color2;
      padding: 0.0rem;
      margin: 0.2rem;
      border-radius:0.8rem;
      &:hover {
        background-color: $main-color2;
      }
      .nav-item{
        font-family: $main-font1;
        font-size: 0.9rem;
        color: $main-color2;
        text-decoration: none;
        padding: 0.35rem 0 0.41rem 0;
        margin: 0.5rem;
        &:hover {
          color: $main-color1;
          background-color: $main-color2;
        }
      }
    }
  } 
}

/* articles index */

.grid{
  display: grid;
  gap: 1.0rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 6% 0.9rem 0.6rem 0.9rem ;
}

.article-item{
  height: 15rem;
  border-style: solid;
  border-color: $main-color1;
  border-radius: 0.3rem;
  padding: 0.3rem;
  .title{
    text-align: center;
    text-decoration: none;
  }
  .option{
    text-align: right;
  }
}
  
/* articles show */

.container{
  max-width: 615px;
  margin: 0.5rem auto;
  .title{
    text-align: center;
    margin: 1.5rem 0;
    padding: 0.5rem;
    font-weight: bold;
  }
  .content{
    border-style: solid;
    border-color: $main-color1;
    border-radius: 0.3rem;
    border-width: 0.15rem;
    padding: 0.5rem;
    text-align: left;
  }
  .option{
    text-align: right;
  }
}

/* articles_form */

.container{
  text-align: center;
  label{
    background-color: $main-color3;
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    padding: 0.4rem;
  }
  #article_title {
    @include article_form;
    text-align: center;
    font-weight: bold;
  } 
  #article_content {
    @include article_form;
  } 
}

/* レスポンシブ */

@media (max-width: 620px){
  .page-header{
    flex-direction: column;
    align-items: center;
    .logo{
      margin-top: unset;
      margin-bottom: unset;
      padding-bottom: unset;
    }
    .main-nav{
      margin: 0rem 0rem 0.3rem 0rem;
    }   
  }

  .container{
    min-width: 300px;
    margin: 0.5rem;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}