<div class="footer-wrapper">
  <div class="page-footer">
    <ul>
      <li><%= link_to "TOPページ", '/' %></li>
      <li><%= link_to "アプリ紹介", '#' %></li>
    </ul>
    <div class="footer-title">SALES-TALK</div>
  </div>
</div>