<div class="container">
  <div class="page-header">
    <%= link_to image_tag('logo.png', size: '250x40' , alt:'logo', class: "logo") , '/' %> 
      <ul class="main-nav">
        <li><%= link_to "新規投稿"  , new_article_path , class: "nav-item" %></li>
        <li><%= link_to "マイページ", '#' , class: "nav-item" %></li>
        <li><%= link_to "ログアウト", '#' , class: "nav-item" %></li>
      </ul>
  </div>
</div>